services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d:ro
    networks: [backend]

  kafka:
    image: apache/kafka:4.0.0
    container_name: kafka
    environment:
      # KRaft single-node
      KAFKA_NODE_ID: "1"
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"

      # listeners БЕЗ защиты
      KAFKA_LISTENERS: "INTERNAL://:29092,EXTERNAL://:9092,CONTROLLER://:9093"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka:29092,EXTERNAL://${HOST_IP}:9092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"

      # обязательные single-node параметры
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "1"
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "1"
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: "0"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"

      KAFKA_LOG_DIRS: "/var/lib/kafka/data"

    healthcheck:
      test: ["CMD", "bash", "-lc", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list >/dev/null 2>&1"]
      interval: 10s
      timeout: 20s
      retries: 30
      start_period: 40s

    volumes:
      - kafka_data:/var/lib/kafka/data
    ports:
      - "9092:9092"
    networks: [backend]

  kafka-init:
    image: apache/kafka:4.0.0
    container_name: kafka-init
    depends_on:
      kafka:
        condition: service_healthy
    command:
      - bash
      - -lc
      - |
        set -e
        /opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka:29092 \
          --create --if-not-exists --topic info-video --partitions 3 --replication-factor 1
        /opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka:29092 \
          --create --if-not-exists --topic new-task --partitions 3 --replication-factor 1
        /opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka:29092 \
          --create --if-not-exists --topic new-video --partitions 50 --replication-factor 1
        echo "Topics created"
    networks: [backend]

  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_started
      kafka-init:
        condition: service_started
    ports:
      - "8080:8080"
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      DB_URL: jdbc:postgresql://postgres:5432/postgres
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      TG_CHATS: ${TG_CHATS}
      BOT_NAME: ${BOT_NAME}
      BOT_TOKEN: ${BOT_TOKEN}
      BOT_URL: ${BOT_URL}
    volumes:
      - firefox-data:/config
    networks: [backend]


  redis:
    image: redis:7.2.0-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: [ "sh", "-c", "redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}" ]
    restart: unless-stopped
    networks: [backend]

  task-distributor:
    container_name: task-distributor
    build:
      context: ${TASK_DISTRIBUTOR_PATH}
      dockerfile: Dockerfile
    depends_on:
      kafka:
        condition: service_healthy
      redis:
        condition: service_started
      kafka-init:
        condition: service_started
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      QUEUE_SIZE: 10
    networks: [backend]
  firefox:
    image: jlesage/firefox
    ports:
      - "5800:5800"
    volumes:
      - firefox-data:/config


networks:
  backend:

volumes:
  pg_data:
  kafka_data:
  firefox-data:
    name: firefox-data
  redis_data:
